body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #87CEEB, #4CAF50);
}

#main {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#bgr_change {
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    align-items: center;
    padding: 14px;
    background-color: white;
    border-radius: 28px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#clear_pokemons {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    align-items: center;
    padding: 14px;
    background-color: white;
    border-radius: 28px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#remove_1 {
    display: flex;
    position: absolute;
    top: 100px;
    right: 30px;
    align-items: center;
    padding: 14px;
    background-color: white;
    border-radius: 28px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#shiny_button {
    display: flex;
    position: absolute;
    top: 170px;
    right: 30px;
    align-items: center;
    padding: 14px;
    background-color: white;
    border-radius: 28px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.short_text, .xs_text {
    display: none;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 14px;
    background-color: white;
    border-radius: 28px;
    width: max-content;
}

#search:hover {
    background-color: whitesmoke;
}

input {
    font-size: 16px;
    font-family: "Comic Sans MS", sans-serif;
    color: gray;
    margin-left: 14px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 200px;
}

#search_button {
    background-color: #5B8DEF;
    padding: 4px;
    border-radius: 7px;
    font-family: "Comic Sans MS", sans-serif;
}

#search_button:hover {
    cursor: pointer;
    background-color: #4169D8;
}

#mons {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#mons_row1, #mons_row2 {
    display: flex;
    gap: 10px;
    font-family: "Comic Sans MS" sans-serif;
}

#mons_row1 img, #mons_row2 img {
    image-rendering: pixelated;
    height: 150px;
    width: 150px;
}

.box {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 4px solid white;
    border-radius: 100px;
    cursor: pointer;
}

#search.hidden {
    visibility: hidden;
}

#remove_1.hidden {
    visibility: hidden;
}

#shiny_button.hidden {
    visibility: hidden;
}

.box.selected {
    border-color: gray;
}

#characters img {
    width: 250px;
    height: 250px;
    image-rendering: pixelated;
}

#box1 {
    font-family: "Comic Sans MS", sans-serif;
}

#box2 {
    font-family: "Comic Sans MS", sans-serif;
}

#box3 {
    font-family: "Comic Sans MS", sans-serif;
}

#box4 {
    font-family: "Comic Sans MS", sans-serif;
}

#box5 {
    font-family: "Comic Sans MS", sans-serif;
}

#box6 {
    font-family: "Comic Sans MS", sans-serif;
}

@media (max-width: 768px) {
    #main {
        flex-direction: column;
    }

    #search {
        margin-top: 90px;
    }

    .short_text {
        display: inline;
    }

    .big_text, .xs_text {
        display: none;
    }


    .box {
        width: 140px;
        height: 140px;
    }

    #characters img {
        width: 180px;
        height: 180px;
    }

    #mons_row1 img, #mons_row2 img {
        height: 110px;
        width: 110px;
    }
}

@media (max-width: 480px) {
    #bgr_change {
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    #search {
        margin-top: 80px;
    }

    .xs_text {
        display: inline;
    }

    .big_text, .short_text {
        display: none;
    }

    .box {
        width: 100px;
        height: 100px;
    }

    #characters img {
        width: 140px;
        height: 140px;
    }

    #mons_row1 img, #mons_row2 img {
        height: 70px;
        width: 70px;
    }
}